#.gitignore

# Ignore the the data directory
data/

#Ignore project build  in this directory when we are working on it
_build/

# Ignore output for cfdcode install.
build/
*.egg-info/
__pycache__/
.ipynb_checkpoints/
*.ipynb
*.orig